EMAIL_SERVICE_ACCOUNT=
EMAIL_SERVICE_PASSWORD=
AUTH0_CLIENT_SECRET=
APP_SECRET_KEY=
DOMAIN=
MONGO_URI=
PROTOCOL=
PRODUCTION_DEPLOYMENT_WEBHOOK=
DEVELOPERS=
TEST_PLAYER_VALID_USERNAME=
TEST_PLAYER_VALID_PASSWORD=
TEST_PLAYER_INVALID_USERNAME=
TEST_PLAYER_INVALID_PASSWORD=
mailtrain_api=
mailtrain_user_list_id=
mailtrain_newsletter_list_id=
mailtrain_access_token=
